<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fxkc.peis.mapper.TjTeamSettleMapper">

    <select id="teamSettleTaskGroupList" resultType="org.fxkc.peis.domain.vo.TjTeamSettleTaskGroupVo">
        select aa.id,
               aa.group_name,
               (case when aa.group_pay_type = '1' then aa.groupAmount else 0 end) +
               (case when aa.add_pay_type = '1' then aa.addAmount else 0 end) teamReceiveAmount,
               aa.totalPeople,
               aa.groupAmount,
               aa.group_pay_type,
               aa.addPeople,
               aa.addAmount,
               aa.add_pay_type
        from (
               select a.id,
                      a.group_name,
                      count(b.id) totalPeople,
                      (case when count(b.id) > 0 then sum(case when b.team_amount > 0 then b.team_amount else a.price end) else 0 end) groupAmount,
                      a.group_pay_type,
                      sum(case when b.total_amount - a.price > 0 then 1 else 0 end) addPeople,
                      sum(case when b.total_amount - a.price > 0 then b.total_amount - a.price else 0 end) addAmount,
                      a.add_pay_type
               from tj_team_group a
                    <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and (bo.chargeType == '1'.toString() or bo.chargeType == '2'.toString())">
                        left join tj_register b on a.id = b.team_group_id and b.del_flag = '0'
                        and b.healthy_check_status &gt;= #{bo.healthyCheckStatus}
                    </if>
                    <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and bo.chargeType == '3'.toString()">
                        left join (
                            select
                                   t1.id,
                                   t1.team_group_id,
                                   t1.total_amount,
                                   sum(case when t2.check_status = '1' then t2.receivable_amount else 0 end) team_amount
                            from tj_register t1
                            left join tj_reg_combination_project t2 on t1.id = t2.register_id
                            where t1.del_flag = '0'
                                and t2.del_flag = '0'
                                and t2.check_status = '1'
                            group by t1.id,t1.team_group_id,t1.total_amount,t2.check_status
                        ) b on a.id = b.team_group_id
                    </if>
               where a.del_flag = '0'
                 and a.team_id = #{bo.teamId}
                 and a.task_id = #{bo.teamTaskId}
               group by a.id,a.group_name,b.team_amount,a.price,a.group_pay_type,a.add_pay_type
        ) aa
    </select>

    <select id="teamSettleTaskNoGroup" resultType="org.fxkc.peis.domain.vo.TjTeamSettleTaskGroupVo">
        select 0 id,
            '无分组' group_name,
            count(a.id) totalPeople,
            <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and (bo.chargeType == '1'.toString() or bo.chargeType == '2'.toString())">
                nvl(sum(a.team_amount),0) teamReceiveAmount,
                nvl(sum(a.team_amount),0) groupAmount,
            </if>
            <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and bo.chargeType == '3'.toString()">
                sum(case when t2.check_status = '1' then t2.receivable_amount else 0 end) teamReceiveAmount,
                sum(case when t2.check_status = '1' then t2.receivable_amount else 0 end) groupAmount,
            </if>
            null group_pay_type,
            0 addPeople,
            0 addAmount,
            null add_pay_type
        from tj_register a
        <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and bo.chargeType == '3'.toString()">
            left join tj_reg_combination_project b on a.id = b.register_id
        </if>
        where a.del_flag = '0'
            and a.team_id = #{bo.teamId}
            and a.task_id = #{bo.teamTaskId}
            and a.team_group_id is null
            <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and (bo.chargeType == '1'.toString() or bo.chargeType == '2'.toString())">
                and a.healthy_check_status &gt;= #{bo.healthyCheckStatus}
            </if>
            <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and bo.chargeType == '3'.toString()">
                and b.del_flag = '0'
            </if>
    </select>

    <select id="teamSettleTaskGroupStatistics" resultType="org.fxkc.peis.domain.vo.TjTeamSettleTaskGroupStatisticsVo">
        select nvl(sum(aaa.teamReceiveAmount),0) teamReceiveAmount,
               nvl(sum(aaa.totalPeople),0) totalPeople,
               nvl(sum(aaa.groupAmount),0) groupAmount,
               nvl(sum(aaa.addPeople),0) addPeople,
               nvl(sum(aaa.addAmount),0) addAmount,
               sum(case when aaa.add_pay_type = '0' then aaa.addAmount else 0 end) personAddAmount,
               sum(case when aaa.add_pay_type = '1' then aaa.addAmount else 0 end) teamAddAmount
        from (
                select aa.id,
                       aa.group_name,
                       (case when aa.group_pay_type = '1' then aa.groupAmount else 0 end) +
                       (case when aa.add_pay_type = '1' then aa.addAmount else 0 end) teamReceiveAmount,
                       aa.totalPeople,
                       aa.groupAmount,
                       aa.group_pay_type,
                       aa.addPeople,
                       aa.addAmount,
                       aa.add_pay_type
                from (
                       select a.id,
                              a.group_name,
                              count(b.id) totalPeople,
                              (case when count(b.id) > 0 then sum(case when b.team_amount > 0 then b.team_amount else a.price end) else 0 end) groupAmount,
                              a.group_pay_type,
                              sum(case when b.total_amount - a.price > 0 then 1 else 0 end) addPeople,
                              sum(case when b.total_amount - a.price > 0 then b.total_amount - a.price else 0 end) addAmount,
                              a.add_pay_type
                       from tj_team_group a
                            <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and (bo.chargeType == '1'.toString() or bo.chargeType == '2'.toString())">
                                left join tj_register b on a.id = b.team_group_id and b.del_flag = '0'
                                and b.healthy_check_status &gt;= #{bo.healthyCheckStatus}
                            </if>
                            <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.chargeType) and bo.chargeType == '3'.toString()">
                                left join (
                                    select t1.id,
                                           t1.team_group_id,
                                           t1.total_amount,
                                           sum(case when t2.check_status = '1' then t2.receivable_amount else 0 end) team_amount
                                    from tj_register t1
                                        left join tj_reg_combination_project t2 on t1.id = t2.register_id
                                    where t1.del_flag = '0'
                                        and t2.del_flag = '0'
                                    group by t1.id,t1.team_group_id,t1.total_amount,t2.check_status
                                ) b on a.id = b.team_group_id
                            </if>
                       where a.del_flag = '0'
                           and a.team_id = #{bo.teamId}
                           and a.task_id = #{bo.teamTaskId}
                           <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.teamGroupId)">
                               and a.id = #{bo.teamGroupId}
                           </if>
                       group by a.id,a.group_name,b.team_amount,a.price,a.group_pay_type,a.add_pay_type
                ) aa
        ) aaa
    </select>

    <select id="teamSettledAmount" resultType="org.fxkc.peis.domain.vo.TjTeamSettleAmountStatisticsVo">
        select aa.receivedAmount,
               aa.settledAmount,
               (aa.receivedAmount - aa.settledAmount) balance
        from (
            select nvl(sum(a.received_amount),0) receivedAmount,
                   nvl(sum(b.team_settle_amount),0) settledAmount
            from tj_team_settle a
                left join tj_register b on a.id = b.team_settle_id
            where a.del_flag = '0'
                and b.del_flag = '0'
                and a.status = '0'
                and a.check_status = '1'
                and a.team_id = #{bo.teamId}
                and a.team_task_id = #{bo.teamTaskId}
        ) aa
    </select>

</mapper>
