<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.fxkc.peis.mapper.TjTeamSettleMapper">

    <select id="teamSettleTaskGroupList" resultType="org.fxkc.peis.domain.vo.TjTeamSettleTaskGroupVo">
        select aa.id,
               aa.group_name,
               (case when aa.group_pay_type = '1' then aa.groupAmount else 0 end) +
               (case when aa.add_pay_type = '1' then aa.addAmount else 0 end) teamReceiveAmount,
               aa.totalPeople,
               aa.groupAmount,
               aa.group_pay_type,
               aa.addPeople,
               aa.addAmount,
               aa.add_pay_type
        from (
               select a.id,
                      a.group_name,
                      count(b.id) totalPeople,
                      (case when count(b.id) > 0 then sum(case when b.team_amount > 0 then b.team_amount else a.price end) else 0 end) groupAmount,
                      a.group_pay_type,
                      sum(case when b.total_amount - a.price > 0 then 1 else 0 end) addPeople,
                      sum(case when b.total_amount - a.price > 0 then b.total_amount - a.price else 0 end) addAmount,
                      a.add_pay_type
               from tj_team_group a
                    <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.healthyCheckStatus)">
                        left join tj_register b on a.id = b.team_group_id and b.del_flag = '0'
                        and b.healthy_check_status = #{bo.healthyCheckStatus}
                    </if>
                    <if test="@org.fxkc.common.mybatis.helper.Ognl@isEmpty(bo.healthyCheckStatus)">
                        left join (
                            select t1.id,t1.team_group_id,t1.total_amount,sum(t2.receivable_amount) team_amount
                            from tj_register t1
                            left join tj_reg_combination_project t2 on t1.id = t2.register_id
                            where t1.del_flag = '0'
                                and t2.del_flag = '0'
                                and t2.check_status = '1'
                            group by t1.id,t1.team_group_id,t1.total_amount
                        ) b on a.id = b.team_group_id
                    </if>
               where a.del_flag = '0'
                 and a.team_id = #{bo.teamId}
                 and a.task_id = #{bo.teamTaskId}
               group by a.id,a.group_name,b.team_amount,a.price,a.group_pay_type,a.add_pay_type
        ) aa
    </select>

    <select id="teamSettleTaskNoGroup" resultType="org.fxkc.peis.domain.vo.TjTeamSettleTaskGroupVo">
        select 0 id,
               '无分组' group_name,
               nvl(sum(case when b.team_amount > 0 then b.team_amount else a.price end),0) teamReceiveAmount,
               count(b.id) totalPeople,
               nvl(sum(case when b.team_amount > 0 then b.team_amount else a.price end),0) groupAmount,
               null group_pay_type,
               0 addPeople,
               0 addAmount,
               null add_pay_type
        from tj_team_group a
            <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.healthyCheckStatus)">
                left join tj_register b on a.id = b.team_group_id and b.del_flag = '0'
                and b.healthy_check_status = #{bo.healthyCheckStatus}
            </if>
            <if test="@org.fxkc.common.mybatis.helper.Ognl@isEmpty(bo.healthyCheckStatus)">
                left join (
                select t1.id,t1.team_group_id,t1.total_amount,sum(t2.receivable_amount) team_amount
                from tj_register t1
                left join tj_reg_combination_project t2 on t1.id = t2.register_id
                where t1.del_flag = '0'
                and t2.del_flag = '0'
                and t2.check_status = '1'
                group by t1.id,t1.team_group_id,t1.total_amount
                ) b on a.id = b.team_group_id
            </if>
        where a.del_flag = '0'
          and a.team_id = #{bo.teamId}
          and a.task_id = #{bo.teamTaskId}
          and b.team_group_id is null
    </select>

    <select id="teamSettleTaskGroupStatistics" resultType="org.fxkc.peis.domain.vo.TjTeamSettleTaskGroupStatisticsVo">
        select sum(teamReceiveAmount) teamReceiveAmount,sum(totalPeople) totalPeople,sum(groupAmount) groupAmount,
               sum(addPeople) addPeople,sum(addAmount) addAmount,
               sum(case when add_pay_type = '0' then addAmount else 0 end) personAddAmount,
               sum(case when add_pay_type = '1' then addAmount else 0 end) teamAddAmount
        from (
                select aa.id,
                       aa.group_name,
                       (case when aa.group_pay_type = '1' then aa.groupAmount else 0 end) +
                       (case when aa.add_pay_type = '1' then aa.addAmount else 0 end) teamReceiveAmount,
                       aa.totalPeople,
                       aa.groupAmount,
                       aa.group_pay_type,
                       aa.addPeople,
                       aa.addAmount,
                       aa.add_pay_type
                from (
                       select a.id,
                              a.group_name,
                              count(b.id) totalPeople,
                              (case when count(b.id) > 0 then sum(case when b.team_amount > 0 then b.team_amount else a.price end) else 0 end) groupAmount,
                              a.group_pay_type,
                              sum(case when b.total_amount - a.price > 0 then 1 else 0 end) addPeople,
                              sum(case when b.total_amount - a.price > 0 then b.total_amount - a.price else 0 end) addAmount,
                              a.add_pay_type
                       from tj_team_group a
                            <if test="@org.fxkc.common.mybatis.helper.Ognl@isNotEmpty(bo.healthyCheckStatus)">
                                left join tj_register b on a.id = b.team_group_id and b.del_flag = '0'
                                and b.healthy_check_status = #{bo.healthyCheckStatus}
                            </if>
                            <if test="@org.fxkc.common.mybatis.helper.Ognl@isEmpty(bo.healthyCheckStatus)">
                                left join (
                                select t1.id,t1.team_group_id,t1.total_amount,sum(t2.receivable_amount) team_amount
                                from tj_register t1
                                left join tj_reg_combination_project t2 on t1.id = t2.register_id
                                where t1.del_flag = '0'
                                and t2.del_flag = '0'
                                and t2.check_status = '1'
                                group by t1.id,t1.team_group_id,t1.total_amount
                                ) b on a.id = b.team_group_id
                            </if>
                       where a.del_flag = '0'
                           and a.team_id = #{bo.teamId}
                           and a.task_id = #{bo.teamTaskId}
                       group by a.id,a.group_name,b.team_amount,a.price,a.group_pay_type,a.add_pay_type
                ) aa
        ) aaaa
    </select>

    <select id="teamSettledAmount" resultType="java.math.BigDecimal">
        select nvl(sum(b.TEAM_AMOUNT),0)
        from TJ_TEAM_SETTLE a
            left join TJ_REGISTER b on a.id = b.TEAM_SETTLE_ID
        where a.del_flag = '0'
            and b.del_flag = '0'
            and a.status = '0'
            and a.check_status = '1'
            and a.team_id = #{bo.teamId}
            and a.team_task_id = #{bo.teamTaskId}
    </select>

</mapper>
